html
	head
		//- link(rel="stylesheet" href="/static/css/site.css")
		script(src="http://cdn.bootcss.com/react/0.14.7/react.js")
		script(src="http://cdn.bootcss.com/react/0.14.7/react-dom.js")
	body
		script(src="/static/js/svg.js")
		//- h1 hello world

